@import './fonts.css';

:root {
  --main-background: #b75be6;
  --main-text: #f5f5f5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  padding: 0;
  background-color: var(--main-background);
  font-family: Raleway;
}